.DS_Store
bin/
.cache/
.projectile
projectile-bookmarks.eld
projects
.org-id-locations
elpa/
eglot_jdtls_data/
recentf
tree-sitter/
tutorial/
servers/
org-roam.db
history
bookmarks
places
.emacs.desktop
savehist
saveplace
eln-cache
tramp
url/cookies
*.desktop*
savehist
saveplace
transient/history.el
